<!DOCTYPE html>
  <html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales'],
          ['20 мая',  {% for i in day1 %}{{i.price}}{% endfor %}],
          ['21 мая',  {% for i in day2 %}{{i.price}}{% endfor %}],
          ['22 мая',  {% for i in day3 %}{{i.price}}{% endfor %}],
          ['23 мая',  {% for i in day4 %}{{i.price}}{% endfor %}],
          ['24 мая',  {% for i in day5 %}{{i.price}}{% endfor %}],
          ['25 мая',  {% for i in day6 %}{{i.price}}{% endfor %}],
          ['26 мая',  {% for i in day7 %}{{i.price}}{% endfor %}]
        ]);

        var options = {
          title: 'Company Performance',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
  </body>
</html>
