{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Сервис аналитики техники Apple</title>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'web_analytics_service/css/styles.css' %}" rel="stylesheet" />
        <!-- Google Charts-->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);

          function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['Дата', 'Цена в руб.'],
              ['20.05.2023',  {% for i in day1 %}{{i.price}}{% endfor %}],
              ['21.05.2023',  {% for i in day2 %}{{i.price}}{% endfor %}],
              ['22.05.2023',  {% for i in day3 %}{{i.price}}{% endfor %}],
              ['23.05.2023',  {% for i in day4 %}{{i.price}}{% endfor %}],
              ['24.05.2023',  {% for i in day5 %}{{i.price}}{% endfor %}],
              ['25.05.2023',  {% for i in day6 %}{{i.price}}{% endfor %}],
              ['26.05.2023',  {% for i in day7 %}{{i.price}}{% endfor %}]
            ]);

            var options = {
              title: 'Изменение цены на айфон {% for i in range %}{{i.model}} ({{i.color}}, {{i.memory}} ГБ){% endfor %}',
              curveType: 'function',
              legend: { position: 'bottom' },
              width: 800
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);
          }
        </script>
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Header-->
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-6 fw-bolder text-white mb-2">Онлайн-сервис, на котором собрано бесчисленное множество устройств популярной компании Apple Inc.</h1>
                                <p class="lead fw-normal text-white-50 mb-4">Специально для вас мы собрали всю информацию о доступных моделях айфонов со множества крупнейших интернет-магазинов. Вы сможете просмотреть данные по интересующим вас девайсам: цены, отзывы, сводки по продажам, находясь на одном сайте!</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Приступим!</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                            <div style="width:400px; color:white; margin-left:5px; margin-bottom:20px; font-size:120%">Сведения об устройствах собраны с официальных сайтов:</div>
                            <div id="carouselExampleDark" class="carousel carousel-dark slide">
                              <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                              </div>
                              <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="10000">
                                  <a href="https://www.dns-shop.ru">
                                      <img src="{% static 'web_analytics_service/pictures/for_preview/DNS.jpg' %}" class="d-block w-100" alt="...">
                                  </a>
                                  <div class="carousel-caption d-none d-md-block"></div>
                                </div>
                                <div class="carousel-item" data-bs-interval="2000">
                                    <a href="https://www.ozon.ru">
                                        <img src="{% static 'web_analytics_service/pictures/for_preview/Ozon.jpg' %}" class="d-block w-100" alt="...">
                                    </a>
                                  <div class="carousel-caption d-none d-md-block"></div>
                                </div>
                                <div class="carousel-item">
                                  <a href="https://market.yandex.ru">
                                    <img src="{% static 'web_analytics_service/pictures/for_preview/Yandex_market.jpg' %}" class="d-block w-100" alt="...">
                                  </a>
                                  <div class="carousel-caption d-none d-md-block"></div>
                                </div>
                              </div>
                              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Input form-->
            <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0">
                            <h2 class="fw-bolder mb-0">Выберите необходимые параметры телефона</h2>
                            <form action="" method="get">
                                <br>
                                {% for field in filter %}
                                    <div style="margin:10px">
                                        <label>{{field.label}}</label>
                                    {{field}}
                                    </div>
                                {% endfor %}
                                <div style="height:20px"></div>
                                <button>Найти</button>
                            </form>
                        </div>
                        <!-- Output form-->
                        <div class="col-lg-8">
                            <div style="color:gray"><i>Если не выводится ничего, проверьте корректность введенных данных, возможно, такого товара сейчас нет в наличии в данном магазине</i></div>
                            <div style="width:780px; height:400px; border:1px solid black; overflow:auto">
                                {% for item in list_of_filtered_obj %}
                                <div style="display:flex">
                                    <div style="float, width:40%; margin-top:50px"><img src="{{item.link}}" style="height:250px; margin:10px"></img></div>
                                    <div style="float:rit; width:120%; height:350px; border: solid 1px; margin:10px; justify-content: center" id="curve_chart"></div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        <!-- Footer -->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container" style="margin-left:40%">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Проект "ORPUD project", 2023 г.</div></div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'web_analytics_service/js/scripts.js' %}"></script>
        </main>
    </body>
</html>
